<header>
    <h1>Welcome to <strong>IdeaMarket</strong>!</h1>
    <p>All over the world, people have started sharing ideas with IdeaMarket. Today, we’re starting yours.</p>
</header>

<figure class="gh-flow-screenshot">
    <img src="{{gh-path 'admin' 'img/install-welcome.png'}}" alt="IdeaMarket screenshot" />
</figure>

{{#link-to "setup.two" classNames="btn btn-green btn-lg"}}
    Create your account <i class="icon-chevron"></i>
{{/link-to}}
